<!DOCTYPE html>
<html>
  <style>
     b{ 
       font-size: 16px; 
       } 
  </style>
  <body 
    style="
      /* font-family: 'Roboto'; */
      font-family: sans-serif;
      font-weight: bold;
      color: #747273;
        background-color: #f7f7f7;
      /*background-color: #ffff;*/
      font-size: 16px;
      text-align: center;
      padding-top: 50px;
      padding-bottom: 50px;

    ">
    <div 
      style="
        margin: auto;
        width: 70%;
        border: 3px solid green;
        background-color: #fff;
        border: 1px solid #cfcfcf;
        border-radius: 16px;
        padding: 10px;
      ">
      <div style="width: 16px; height: 16px; background-color: #787878; border-radius: 16px"></div>

      <div style="padding: 50px;">
terima kasih telah mendaftar di karlo.id, dengan senang hati kami akan melayani Anda.
        <br />
        Sebelum memulai, silakan <u>asdasdasd</u><i>asdas</i>klik tombol<b> verifikasi</b> di bawah ini untuk proses lebih lanjut.
        <br />
        <br />
        <br />
        </a>
      </div>
    </div>
  </body>
</html>
